<div class="container">
  <div class="button logout-button">
    <div (click)="onLogout()">
      <i class="fas fa-sign-out-alt"></i>
    </div>
  </div>

  <h4>Select language</h4>
  <mat-form-field>
    <mat-label>Language</mat-label>
    <mat-select [(value)]="currentLanguage" (selectionChange)="onLanguageChange($event)">
      @for (language of languages; track language) {
        <mat-option [value]="language.name">{{ language.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="button add-word-button">
    <a routerLink="word/create">+ </a>
  </div>

  @for (word of wordsToDisplay; track word._id) {
    <div class="item-container">
      <div class="item" (click)="openDialog(word)">
        <a>
          {{ word.value }}
        </a>
      </div>
      <button
        mat-fab
        class="mat-fab"
        (click)="openDeleteModal(word); $event.stopPropagation()"
      >
        <mat-icon class="delete-icon">delete</mat-icon>
      </button>
    </div>
  }
</div>

<!-- Add this modal at the end of the file -->
@if (showDeleteModal) {
  <div class="modal">
    <div class="modal-content">
      <h2>Confirm Deletion</h2>
      <p>
        Are you sure you want to delete the concept "{{
          conceptToDelete?.name
        }}"?
      </p>
      <div class="modal-buttons">
        <button (click)="confirmDelete()">Yes, Delete</button>
        <button (click)="cancelDelete()">Cancel</button>
      </div>
    </div>
  </div>
}
