<div class="container">
  <div class="button logout-button">
    <div (click)="onLogout()">
      <i class="fas fa-sign-out-alt"></i> <!-- Logout icon -->
    </div>
  </div>
  <div class="button add-word-button">
    <a routerLink="word/create">+
    </a>
  </div>

  @for (concept of concepts; track concept._id) {
    <div class="item-container">
      <div class="item" (click)="onConceptSelect(concept.name)">
        <a routerLink="word/details/{{ concept.name }}">
          {{ concept.name }}
        </a>
      </div>
      <button
        mat-fab class="mat-fab"
        (click)="openDeleteModal(concept); $event.stopPropagation()"
      >
      <mat-icon class="delete-icon">delete</mat-icon>
      </button>
    </div>
  }
</div>

<!-- Add this modal at the end of the file -->
@if (showDeleteModal) {
  <div class="modal">
    <div class="modal-content">
      <h2>Confirm Deletion</h2>
      <p>
        Are you sure you want to delete the concept "{{
          conceptToDelete?.name
        }}"?
      </p>
      <div class="modal-buttons">
        <button (click)="confirmDelete()">Yes, Delete</button>
        <button (click)="cancelDelete()">Cancel</button>
      </div>
    </div>
  </div>
}

